.head {
  button {
    padding: 10px 40px;
    margin-left: 15%;
    border: none;
    border-radius: 30px;
    background-color: $color-white;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    @include md {
      margin-left: 70px;
    }

    @include sm {
      padding: 15px 35px;
      margin-left: 0;
      width: 100%;
    }
  }
}

.btn-burger {
  z-index: 3;
  display: none;
  position: relative;
  width: 35px;
  height: 30px;

  @include md {
    display: block;
  }

  span {
    position: absolute;
    width: 36px;
    height: 3px;
    top: 12px;
    transition: transform .5s, width .1s, -webkit-transform .5s;
    background-color: $color-black;

    &:first-child {
      top: 0px;
    }

    &:last-child {
      top: 24px;
    }
  }

  &.is-cross {
    span {
      visibility: hidden;

      &:first-child {
        visibility: visible;
        transform-origin: left center;
        transform: rotate(45deg);
      }

      &:last-child {
        top: 25px;
        visibility: visible;
        transform-origin: left center;
        transform: rotate(-45deg);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.search-bar {
  input {
    margin-left: 30px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  button {
    border-radius: 0;
    border-left: solid 1px rgba(128, 128, 128, 0.311);
    ;

    &:focus {
      outline: none;
    }
  }
}